<!DOCTYPE html>
<html lang="en" class="{{ 'dark__mode' if session.get('theme') == 'dark' }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/main.css">

    <script src="https://kit.fontawesome.com/764780b059.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
</head>
<body>
<main class="main">
    <header class="header">
        <div class="nav__container">
            <a class="header__logo" href="{{ url_for('index') }}">
                <img src="/static/icon.svg" alt="Icon" class="icon"/>
                <span class="logo__name">Watchlist</span>
            </a>
            <nav class="nav">
                {% if not email %}
                    <a href="{{ url_for('login') }}" class="nav__link">
                        <span class="nav__item">
                        Login
                        </span>
                    </a>
                    <a href="{{ url_for('register') }}" class="nav__link">
                        <span class="nav__item">
                        Register
                        </span>
                    </a>
                {% else %}
                <a href="{{ url_for('index') }}" class="nav__link {{ 'nav__link-active' if request.path == url_for('index') }}">
                    <span class="nav__item">
                        Movies
                    </span>
                </a>
                <a href="{{ url_for('logout') }}" class="nav__link">
                    <span class="nav__item">
                        Logout
                    </span>
                </a>

                {% endif %}
                <a href="{{ url_for('toggle_theme', current_page=request.path) }}" class="nav__link">
                    <span class="nav__item"></span>
                    {% if theme == "dark" %}
                        <img class="theme__icon" src="/static/sun.svg" alt="Sun"/>
                    {% else %}
                        <img class="theme__icon" src="/static/moon.svg" alt="Moon"/>
                    {% endif %}
                </a>
            </nav>
        </div>
    </header>
</main>
{% block content %}
{% endblock %}

    <footer class="footer">
        <div class="footer__div">
            <small>Copyright &copy;2024. Movies Watchlist. All rights reserved.</small>
        </div>
    </footer>

</body>
</html>